<div class="container">

    <div class="row-fluid" ng-show="models | matchGroup">
        <div class="navbar navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-tasks"></i> General Models</span>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tr ng-repeat="model in models | matchGroup">
                <td class="expand"><a href="#/{{ model.name }}">{{ model.name }}</a></td>
                <td class="text-right shrink">
                    <a href="#/{{model.name}}/!new" class="btn btn-mini btn-success"><i class="icon-plus"></i> Add</a>
                    <a href="#/{{ model.name }}" class="btn btn-mini btn-primary"><i class="icon-edit"></i> Edit</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="row-fluid" ng-repeat="group in models | modelGroups">
        <div class="navbar navbar-small">
            <div class="navbar-inner">
                <span class="brand"><i class="icon-tasks"></i> {{ group }}</span>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <tr ng-repeat="model in models | matchGroup: group">
                <td class="expand"><a href="#/{{ model.name }}">{{ model.name }}</a></td>
                <td class="text-right shrink">
                    <a href="#/{{model.name}}/!new" class="btn btn-mini btn-success"><i class="icon-plus"></i> Add</a>
                    <a href="#/{{ model.name }}" class="btn btn-mini btn-primary"><i class="icon-edit"></i> Edit</a>
                </td>
            </tr>
        </table>
    </div>
</div>
