<div class="container">
    <div class="navbar navbar-small">
        <div class="navbar-inner">
            <span class="brand"><i class="icon-tasks"></i> {{ getName(instance, model.name) }}</span>
            <!--button class="btn btn-mini pull-right" ng-click="cancel()"><i class="icon-remove"></i> Cancel</button>
            <button class="btn btn-mini btn-primary pull-right" ng-click="save(true)"><i class="icon-save"></i> Save and Continue Editing</button>
            <button class="btn btn-mini btn-primary pull-right" ng-click="save()"><i class="icon-save"></i> Save</button-->
        </div>
    </div>

    <form class="form-horizontal">
        <div class="control-group" ng-repeat="field in fields" ng-init="key = field[0]; value= field[1]">
            <label class="control-label" for="{{ key }}" ng-class="{ required: value.allowNull === false }">{{ key }}</label>
            <div class="controls" ng-switch="value.type">
                <input class="input-xxlarge" type="date" name="{{ key }}" ng-switch-when="DATETIME" ng-required="value.allowNull === false" ng-model="instance.model[key]">
                <input class="input-xxlarge" type="number" name="{{ key }}" ng-switch-when="INTEGER" ng-required="value.allowNull === false" ng-model="instance.model[key]">
                <textarea class="input-xxlarge" name="{{ key }}" ng-switch-when="TEXT" ng-required="value.allowNull === false" ng-model="instance.model[key]"></textarea>

                <ng-switch ng-switch-default on="value.validate.isEmail">
                    <input class="input-xxlarge" type="email" name="{{ key }}" ng-switch-when="true" ng-required="value.allowNull === false" ng-model="instance.model[key]">
                    <input class="input-xxlarge" type="text" name="{{ key }}" ng-switch-default ng-required="value.allowNull === false" ng-model="instance.model[key]">
                </ng-switch>
            </div>
        </div>

        <hr/>

        <div class="control-group" ng-repeat="(key, value) in relations">
            <label class="control-label" for="{{ key }}" ng-class="{ required: value.allowNull === false }">{{ key }}</label>
            <div class="controls">
                <select class="input-xlarge" name="{{ key }}" ng-model="instance.model[value.identifier]" ng-options="inst.model.id as inst.name for inst in value.targetInstances" ng-multiple="value.associationType == 'HasMany'">
                    <option value="">-----</option>
                </select>
                <button class="btn btn-mini btn-success"><i class="icon-plus"></i> New</button>
            </div>
        </div>
    </form>

    <hr/>

    <!--div ng-repeat="field in fields" ng-init="key = field[0]; value= field[1]">
        <b>{{ key }}</b> {{ value }}
    </div-->

    <!--div ng-repeat="(key, value) in model.fields">
        <b>{{ key }}</b> {{ value }}
    </div-->

    <button class="btn btn-mini pull-right" ng-click="cancel()"><i class="icon-remove"></i> Cancel</button>
    <button class="btn btn-mini btn-primary pull-right" ng-click="save(true)"><i class="icon-save"></i> Save and Continue Editing</button>
    <button class="btn btn-mini btn-primary pull-right" ng-click="save()"><i class="icon-save"></i> Save</button>
    <button class="btn btn-mini" ng-click="cancel()"><i class="icon-arrow-left"></i> Back to {{ model.name }}</button>
</div>

