{% extends './base.html' %}

{% block content %}
<div style="margin-top: 10px;">&nbsp;</div>

<div class="container">
    <div class="jumbotron">
        <h1><i class="fa fa-warning"></i> {{ error }}</h1>
        {% if DEBUG %}
        <p>An internal error has occured: <span class="mono">{{ message }}</span></p>
        {% else %}
        <p>An error has occurred. Please contact the site's maintainer for assistance.</p>
        {% endif %}
    </div>

    {% if DEBUG %}
    <h4><i class="fa fa-code"></i> Stack Trace:</h4>
    <div class="well trace">
        {{ trace }}
    </div>
    {% endif %}
</div>
{% endblock %}
