{% extends base %}

{% block content %}
<div style="margin-top: 10px;">&nbsp;</div>

<div class="container">
    <div class="jumbotron">
        <h1>Omega Ω</h1>
        <p>Your app is successfully running.</p>
        <p>
            <a href="https://github.com/Morgul/omega/wiki/Getting-Started" class="btn btn-primary">Getting Started</a>
            <a href="https://github.com/Morgul/omega/wiki/Tutorial" class="btn btn-primary">Tutorial</a>
            <a href="https://github.com/Morgul/omega/wiki/" class="btn btn-default">Documentation</a>
        </p>
    </div>
</div>
{% endblock %}