{% extends base %}

{% block content %}
<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <div class="row-fluid">
            <span class="brand span12 text-center">&Omega; Omega Web Framework &Omega;</span>
        </div>
    </div>
</div>

<div style="margin-top: 10px;">&nbsp;</div>

<div class="container">
    <div class="hero-unit">
        <h1>It Works!</h1>
        <p>Your Omega app is successfully running!</p>
        <p>
            <a href="https://github.com/Morgul/omega/wiki/Getting-Started" class="btn btn-primary">Getting Started</a>
            <a href="https://github.com/Morgul/omega/wiki/Tutorial" class="btn btn-primary">Tutorial</a>
            <a href="https://github.com/Morgul/omega/wiki/" class="btn">Documentation</a>
        </p>
    </div>
</div>
{% endblock %}
