header#main-header
{
    margin-bottom: 10px;
}

table td.expand
{
    width: 99%
}

table td.shrink
{
    white-space:nowrap
}

.navbar.navbar-small .navbar-inner
{
    min-height: 20px;
    font-size: 15px;
    line-height: 14px;
}

.navbar.navbar-small .brand
{
    font-size: 15px;
    padding-top: 7.5px;
    padding-bottom: 5.5px;
}
.navbar.navbar-small .navbar-text
{
    font-size: 13px;
    padding-top: 9px;
    padding-bottom: 6px;
}

.navbar.navbar-small .navbar-form input[type='text']
{
    height: 13px;
    font-size: 85%;
    margin-top: 3px;
}

.navbar.navbar-small .btn-small,
.navbar.navbar-small .btn-mini
{
    margin-top: 3px;
    padding-top: 0;
    padding-bottom: 0;
}

.navbar.navbar-small .btn-mini
{
    margin-top: 3.15px;
}

.navbar.navbar-small
{
    margin-bottom: 10px;
}

.btn + .btn
{
    margin-left: 5px;
}

.btn.pull-right + .btn.pull-right
{
    margin-left: 0;
    margin-right: 5px;
}

label.required
{
    font-weight: bold;
}

form,
form .control-group,
table.table
{
    margin-bottom: 10px !important;
}

hr
{
    margin: 10px 0;
}

.form-horizontal textarea
{
    height: 130px;
}